* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-size: 10px;
}
h1 {
  text-align: center;
  color: black;
  font-family: cursive;
  font-size: 2.9em;
}
.bookDisplay {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.book-container {
  width: 50%;

  height: 200px;
  padding: 10px;
  background-color: rgb(228, 220, 220);
  font-family: cursive;
  font-size: 20px;
  margin: 10px;
}
